* {
    margin:0px;
}

.recipeh1 {
    margin:0px;
    background-color:orange;
    text-align: center;
    color: white;
    font-weight:bold;
    font-family:'monospace', 'sans-serif';
}

.recipeimg {
    height:auto;
    width:300px;
    text-align: center;
}

.recipelinks {
    margin:50px;
    text-align: center;
    background-color: orange;
    color: white;
    font-family:'monospace', 'sans-serif';
}